<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<h1 class="mb-8 font-bold text-xl">Tasks</h1>

<div class="mb-2">
  Remains: <%= Task.where(done: false).count %> / Total: <%= Task.count %>
</div>

<table id="tasks" class="table mb-16 border-collapse border border-slate-400">
  <thead>
    <tr>
      <th class="border border-slate-300"></th>
      <th class="border border-slate-300">Title</th>
      <th class="border border-slate-300">Done</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <th class="border border-slate-300"><%= task.id %></th>
        <td class="border border-slate-300"><%= task.title %></td>
        <td class="border border-slate-300">
          <% if task.done? %>
            <span class="text-success">done</span>
          <% else %>
            <div class="flex gap-x-8">
              <div>not yet</div>
              <div>
                <%= button_to 'DONE', task_path(task), params: { task: { done: true } }, method: :patch, class: 'btn btn-primary btn-sm' %>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="border rounded p-8">
  <%#= turbo_frame_tag 'new_task', src: new_task_path %>
  <%= render "form", task: @task || Task.new %>
</div>
